<div class="jumbotron bg-dark">
  <h1 class="display-4 title text-center">DESCRIPTION</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @outfit.picture, class:"my-pic"%>
      <% if current_user == @outfit.user %>
    <p class = "margen"><%= button_to "Delete", @outfit, method: :delete, class: "btn btn-danger"%></p>
    <p class = "margen"><%= button_to "Edit", "/outfits/#{@outfit.id}/edit", method: :get, class: "btn btn-info"%></p> 
<% end %>
    </div>
    <div class="col-4">
      <p class="font">Size: <%= @outfit.size %></p>
      <p class="font">Brand: <%= @outfit.brand %></p>
      <p class="font">Color: <%= @outfit.color %></p>
      <p class="font">Price: <%= @outfit.price %></p>
    </div>
  </div>
</div>


